{
    "presets": [
        [
            "@babel/preset-env",
            {
               "debug": true,
               "modules": false,
               "targets": {
                "browsers": [">1%"] // "not IE < 12"  "last 2 versions", "safari >= 7", "ie >=7"
               },
               "useBuiltIns": "usage",
               "corejs": {
                   "version": 2
               }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime", {
              "corejs": { "version": 2 },
              "helpers": true,
              "regenerator": true
            }]
    ]
}